#bpm-tab {
  justify-content: center;
}

#bpm-input {
  padding: 1em;
  justify-content: center;
}
#bpm-input > * {
  display: inline-block;
  padding: 0px 0.5em;
}
#bpm-input > input {
  max-width: 8em;
}
#bpm-input > input[data-valid="false"] {
  background-color: rgba(255, 0, 0, 0.1);
}

