table.bpm-wheel{
  width: calc(100% - 3em);
  align-self: center;
  /* display:flexbox; */
  max-width: 768px;
}

table.bpm-wheel th {
  align-self: center;
  text-align: center;
  padding-top: 0;
}

table.bpm-wheel * {
  padding: 0 0 0 0;
}

table.bpm-wheel td:not(.mod){
  text-align: center;
}

table.bpm-wheel .mod *{
  display: inline-block;
}
/* Align speed mod to decimal point (2nd-child) */
table.bpm-wheel .mod :first-child{
  width: 40%;
  text-align: right;
}
table.bpm-wheel .mod :nth-child(2){
  width: 0.3em;
}
table.bpm-wheel .mod :last-child{
  width: 40%;
}

table.bpm-wheel > tbody {
  width: 100%;
  max-height: 10em;
  overflow-y: auto;
  display: inline-block;
  scrollbar-width: none; /* Firefox */
}

table.bpm-wheel > tbody::-webkit-scrollbar {
  display:none; /* Safari, Chrome */
}